@media (prefers-color-scheme: dark) {
h1 {
  font-size: 21px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 2px;
  word-spacing: 0.6px;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
h3 {
  font-size: 12px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 2px;
  word-spacing: 0.6px;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
html {
background: linear-gradient(178deg, #000000 68%, #01011a 100%);
}

}
@media (prefers-color-scheme: light) {
h1 {
  font-size: 21px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 2px;
  word-spacing: 0.6px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
h3 {
  font-size: 12px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 2px;
  word-spacing: 0.6px;
  color: #333b3b;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
html {
background: linear-gradient(178deg, #b3c7c7 68%, #ffffff 100%);
}
}
